<!DOCTYPE html>

{% load static  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Banze Billy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'favicon_io/favicon.ico' %} " type="">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href=" {% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/remixicon/remixicon.css' %}} " rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %} " rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Banze Billy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2 class="billy">I'm a passionate <span> Software Engineer</span> from DRC congo <br> 
         <br> currently living in SA South Africa</h2>
      <br>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://twitter.com/BillyBanze74876" class="twitter"><i class="bi bi-twitter"></i></a>
      
        <a href="https://www.linkedin.com/in/banze-billy-092b0320b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3Bx1MJSN8fSv%2BF1UQrxMLcuw%3D%3D" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'assets/img/billy1.jpg' %} " class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>&amp; SOftware Engineer </h3>
          <p class="fst-italic">
            Greetings! I am a dedicated software engineer with a profound love for turning ideas into innovative and efficient solutions. My journey in the realm of code is fueled by a relentless pursuit of excellence, as I continually strive to craft elegant and robust software
          
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>6 May 1992</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+27 835999310</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Jorburg South Africa</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Certificate</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>bbanze49@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Position:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
            <strong>Expert Problem Solver: </strong>  I thrive on challenges, approaching each problem as an opportunity to create elegant, efficient, and scalable solutions.
          </p>
          <p>
            <strong>Passionate Developer: </strong>   With a deep-rooted passion for coding, I find joy in translating complex concepts into clean and maintainable code. 
          </p>

          <p>
          <strong>Collaborative Team Player: </strong>  I believe in the power of collaboration and actively seek opportunities to contribute to a dynamic team environment.
          </p>
          <p>
           <strong>Continuous Learner: </strong>  In the ever-evolving landscape of technology, I am committed to staying at the forefront by embracing new tools, languages, and methodologies.
             <br>

            Join me on this exciting journey of innovation and let's build something extraordinary together!
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    

    

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">HTML <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="90"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python<i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">DJango & Flask<i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">SQL & PostgreSQL<i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Docker<i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

   


       

        

      
                

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h2>Resume</h2>
          <p>Check My Resume</p>
        </div>
        <div class="header-m">
            <div class="image-area">
                
            
          <img src="{% static 'assets/img/billy4.jpg' %} " class="img-fluid" alt="">
            </div>
            <h1>BANZE <span>BILLY</span> </h1>
            <p class="p1"> <span></span></p>
            
            <h3 class="p2"> Software Engeneer </h3>
        </div>
        

        <div class="main-t">
            <div class="left">
                <h2 class="paul">NAME & INFORMATION</h2>
                <p><strong>Name: </strong>Banze billy</p>
                <p><strong>Age: </strong>30</p>
                <p><strong>Email: </strong>bbanze49@gmail.com</p>
                <p><strong>Phone: </strong>+27835999310</p>
                <br>
                
                <h2 class="paul" > MY SKILLS</h2>
                <ul>
                    <li>HTML/ CSS</li>
                    <li>JS</li>
                   
                    <li>Python & Django & flask</li>
                    <li>SQL & PostgreSQL</li>
                    <li>Git & Docker</li>

                </ul>
                <br>
                
                <h2 class="paul">EDUCATION</h2>
                <h3>Software engeneering</h3>
                <p>at HYPERIONDEV  bootcamp</p>
           
                
              
               
           
                
            </div>
            <div class="right">
              <h2 class="paul">SERVICES </h2>
              <h3>  Web development Services</h3>
              <li>Frontend & Backend</li>
              <li>Full-stack Development</li>
              <li>Custom python Solutions</li>
              <li>Database Management </li>
              <li>Project Management</li>
             
                <h2 class="paul" >PROJECTS</h2>
              
                <ul>
                    <li><a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">Salon website</a> </li>
                    
                      <li><a href="https://github.com/banzebilly/politica_candidate" data-gallery="" class="portfolio-lightbox" title="Web 3">Django, voting app</a></li>
                    <li><a href="https://github.com/banzebilly/clerk-bookshop-database" data-gallery="" class="portfolio-lightbox" title="Card 1">Bookshop & database</a></li>
                    <li><a href="https://github.com/banzebilly/both-investment-bond_repayment-calculator" data-gallery="" class="portfolio-lightbox" title="Card 3">Investment & Bond Repayment finance calculator.</a></li>
                    <li><a href="https://github.com/banzebilly/bank-project" data-gallery="" class="portfolio-lightbox" title="Card 3">A secure bank project.</a></li>
                    <li><a href="https://github.com/banzebilly/task-management" data-gallery="" class="portfolio-lightbox" title="Card 3">business task management.</a></li>

                </ul>
             
                <h2 class="paul"> MY SOCIAL   LINKS</h3>
                  <a href="https://twitter.com/BillyBanze74876" class="twitter"><i class="bi bi-twitter"></i></a>
      
                  <a href="https://www.linkedin.com/in/banze-billy-092b0320b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3Bx1MJSN8fSv%2BF1UQrxMLcuw%3D%3D" class="linkedin"><i class="bi bi-linkedin"></i></a>
      

            </div>
        </div>

  
        
            
        
        
    </div>

     

         
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Web development Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Frondend Development:</a></h4>
            <p><strong>HTML, CSS, JavaScript:</strong> Crafting responsive and visually appealing user interfaces.</p>
            <p><strong>Frameworks:</strong> Leveraging modern frontend frameworks for efficient development.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Backend Development</a></h4>
            <p><strong>Python Expertise</strong>Proficient in backend Development using python</p> 
            <p><strong>Framework Mastery</strong> Specialized in frameworks like Django and flask backend solutions.</p> 
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Full-stack Development</a></h4>
            <p> <Strong>End-to-end Solution</Strong>Providing comprehensive Full-stack Development services.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Custom Python Solutions</a></h4>
            <p><strong>Tailored Application: </strong>Developing custom solutions to meet specific business needs.</p>
            <p><strong>Integration: </strong>integrating python application seamlessly with other systems.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Project Management</a></h4>
            <p> <Strong>Agile development</Strong> Implementing agile methodologies for efficient project Management</p>
            <p> <Strong>Collaboration</Strong>working closely with teams to deliver high-quality software.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Technologies</a></h4>
            <p><strong>Database Management:</strong> Expertise in working with database such as MYSQLm PostgreSQL</p>
            <p><strong>Version Controle: </strong> Proficient in Git for version control.</p>
            <p><strong>Deployment:</strong> Ensuring smooth development using platforms like Heroku or AWS.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>
      
      <div class="container">

        
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
         
        </div>
      </div>  

      <div class="row portfolio-container align-item-center">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app ">
          <div class="portfolio-wrap">
            <img src=" {% static 'assets/img/salon2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <br>
              <h4>Salon Web app</h4>
              <p>build with django & mysql </p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-github"></i></a>
                <a href="" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="" title="github link"><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web  ">
          <div class="portfolio-wrap">
            
            <img src=" {% static 'assets/img/pol1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <br>
              <h4>Political candidate project with Docker </h4>
              <p>voting django app</p>
              <div class="portfolio-links">
                <a href="https://github.com/banzebilly/politica_candidate" data-gallery="" class="portfolio-lightbox" title="Web 3"></a>
                <a href="https://github.com/banzebilly/politica_candidate" data-gallery="" data-glightbox="type: external" class="" title="github link"><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
                
        <div class="col-lg-4 col-md-6 portfolio-item filter-card  ">
          <div class="portfolio-wrap">
            
            <img src=" {% static 'assets/img/b1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
             <br>
              <h4>Bookshop with sqlite database</h4>
              <p>Designed for business</p>
              <div class="portfolio-links">
                <a href="https://github.com/banzebilly/clerk-bookshop-database" data-gallery="" class="portfolio-lightbox" title="Card 1"><i class="bx bx-github"></i></a>
                <a href="https://github.com/banzebilly/clerk-bookshop-database" data-gallery="" data-glightbox="type: external" class="" title="github link"><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
          <div class="portfolio-wrap">
            
            <img src=" {% static 'assets/img/finance.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <br>
              <h4>Both investment and bond repayment</h4>
              <p>Calculator</p>
              <div class="portfolio-links">
                <a href="https://github.com/banzebilly/both-investment-bond_repayment-calculator" data-gallery="" class="portfolio-lightbox" title="Card 3"><i class="bx bx-github"></i></a>
                <a href="https://github.com/banzebilly/both-investment-bond_repayment-calculator" data-gallery="" data-glightbox="type: external" class="" title="github link"><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
          <div class="portfolio-wrap">
            
            <img src=" {% static 'assets/img/bank4.png' %}" class="img-fluid" alt="" class="">
            <div class="portfolio-info">
              <br>
              <h4>Secure Bank ATM </h4>
              <p>bank project with more advanced authentication mechanism:</p>
              <div class="portfolio-links">
                <a href="https://github.com/banzebilly/bank-project" data-gallery="" class="portfolio-lightbox" title="Card 3"><i class="bx bx-github"></i></a>
                <a href="https://github.com/banzebilly/bank-project" data-gallery="" data-glightbox="type: external" class="" title="github link"><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
          <div class="portfolio-wrap">
            
            <img src=" {% static 'assets/img/task2.png' %}" class="img-fluid" alt="" class="">
            <div class="portfolio-info">
              <br>
              <h4>A simple task business Management</h4>
              <p>this was built to manage a campany business signed to each member:</p>
              <div class="portfolio-links">
                <a href="https://github.com/banzebilly/task-management" data-gallery="" class="portfolio-lightbox" title="Card 3"><i class="bx bx-github"></i></a>
                <a href="https://github.com/banzebilly/task-management" data-gallery="" data-glightbox="type: external" class="" title="github link"><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
       
    
      </div>

     

        

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>103 Polly Street, JHB</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://twitter.com/BillyBanze74876/photo" class="twitter"><i class="bi bi-twitter"></i></a>
          
              
              <a href="https://www.linkedin.com/in/banze-billy-092b0320b/overlay/about-this-profile/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BNa5cZeg2R3%2B1nMp8grmQjQ%3D%3D"><i class="fab fa-linkedin-in" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>bbanze49@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+27 835999310</p>
          </div>
        </div>
      </div>

      <form method="post" action="{% url 'resume:index' %}" role="form" id="ContactForm">
        {%  csrf_token  %}

        <div class="form-group">
       

        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required id="message"></textarea>
        </div> <br>

       
        
  
        <div class="text-center  "><button type="submit" class="  mt-3 ">Send Message</button></div>
        <br>


        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message}}
        </div>
        {% endfor %}
      </form>
     
     
    </div>


    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    Designed by <a href="https://bootstrapmade.com/">Banze Billy</a>
  </div>

  <!-- Vendor JS Files -->
  <script src=" {% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src=" {% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src=" {% static 'ssets/vendor/glightbox/js/glightbox.min.js' %}a"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}} "></script>
  <script src=" {% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src=" {% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static "assets/js/main.js" %}"></script>



</body>

</html>